.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.title h1 {
  text-align: left;
  padding: 1em 0;
  margin-left: 1em;
  margin-right: 1em;
}